antlr4-python3-runtime==4.9.3
cffi==1.17.1
logmmse==1.5
omegaconf==2.3.0
pycparser==2.22
PyYAML==6.0.2
scipy==1.14.1
setuptools==75.6.0
sounddevice==0.5.1
soundfile==0.12.1
wheel==0.45.1
torch==2.5.1
torchaudio==2.5.1
tornado==6.4
