absl-py==1.4.0
aiodogstatsd==0.16.0.post0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.11.1
annotated-types==0.5.0
anyio==3.7.1
apache-airflow-providers-common-sql==1.5.2
apache-airflow-providers-ftp==3.4.2
apache-airflow-providers-http==4.4.2
apache-airflow-providers-imap==3.2.2
apache-airflow-providers-sqlite==3.4.2
apispec==5.2.2
appdirs==1.4.4
argcomplete==3.3.0
asgiref==3.7.2
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
autokey==0.95.10
Babel==2.12.1
batinfo==0.4.2
bcc==0.18.0
beautifulsoup4==4.12.2
beautysh==6.2.1
beniget==0.4.1
bernhard==0.2.6
bidict==0.22.1
black==24.4.2
bleach==4.1.0
blinker==1.4
bottle==0.12.25
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
brz-debian==2.8.51
bzt==1.16.27
cachelib==0.9.0
cachetools==5.3.1
cattrs==23.1.2
certifi==2024.2.2
chardet==4.0.0
charset-normalizer==3.3.2
chevron==0.14.0
chrome-gnome-shell==0.0.0
cleo==0.8.1
clevercsv==0.7.1
click==8.1.7
click-help-colors==0.9.2
click-plugins==1.1.1
clickclick==20.10.2
clikit==0.6.2
codespell==2.2.6
colorama==0.4.6
colorlog==4.8.0
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
ConfigUpdater==3.1.1
connexion==2.14.2
coverage==5.5
crashtest==0.3.1
crit==0.0.1
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==3.4.8
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.8
dataclasses-json==0.5.14
dbus-python==1.2.18
debmutate==0.48
decorator==4.4.2
deepdiff==5.6.0
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
devscripts===2.22.1ubuntu1
dill==0.3.8
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.3.0
docker==6.1.3
docstring-to-markdown==0.15
docutils==0.21.2
doq==0.10.0
dulwich==0.20.31
email-validator==1.3.1
et-xmlfile==1.0.1
exceptiongroup==1.1.2
eyed3==0.9.7
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
filelock==3.16.1
filetype==1.2.0
flake8==7.0.0
Flask==2.2.5
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.29.1
frozenlist==1.4.1
fs==2.4.12
future==0.18.3
fuzzyset2==0.2.2
fuzzywuzzy==0.18.0
gast==0.4.0
Glances==3.4.0.3
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpg==1.16.0
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.56.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.9.0
hdrpy==0.3.3
hidpidaemon==18.4.6
html5lib==1.1
httpcore==0.17.3
httpie==2.6.0
httplib2==0.20.2
httpx==0.24.1
humanize==4.9.0
idna==3.7
ifaddr==0.2.0
imageio==2.31.3
imageio-ffmpeg==0.4.9
importlib-metadata==4.6.4
importlib-resources==5.12.0
inflection==0.5.1
influxdb==5.3.1
iniconfig==1.1.1
itsdangerous==2.1.2
jdcal==1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jsonpickle==2.0.0+dfsg1
jsonschema==4.17.3
keras==2.13.1
kernelstub==3.1.4
keyring==23.5.0
kitty==1.2.0
kiwisolver==1.3.2
langchain==0.0.177
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
libclang==16.0.0
libvirt-python==8.0.0
limits==3.5.0
linkify-it-py==2.0.2
llama_cpp_python==0.1.48
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lyricsgenius==3.0.1
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mercurial==6.7.3
merge3==0.0.8
meson==0.61.2
molotov==2.6
monotonic==1.6
more-itertools==8.10.0
moviepy==1.0.3
mpmath==0.0.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mutagen==1.45.1
mypy-extensions==1.0.0
mysqlclient==1.4.6
nbtlib==1.12.1
neovim-remote==2.5.1
netaddr==0.8.0
netifaces==0.11.0
networkx==2.4
nodeenv==1.8.0
numba==0.55.1
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
openapi-schema-pydantic==1.2.4
openpyxl==3.0.9
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==24.0
pandas==1.3.5
parso==0.8.4
pastel==0.2.1
pathspec==0.12.1
patiencediff==0.2.1
pbkdf2==1.3
pcp==5.0
peewee==3.14.8
pendulum==2.1.2
pexpect==4.8.0
Pillow==9.0.1
pipx==1.5.0
platformdirs==4.2.1
pluggy==1.5.0
ply==3.11
podman==4.6.0
pop-transition==1.1.2
prison==0.2.1
proglog==0.1.10
progressbar33==2.4
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.8
psycopg2==2.9.2
ptyprocess==0.7.0
py==1.10.0
py3dns==3.2.1
py3nvml==0.2.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
PyChromecast==9.4.0
pycodestyle==2.11.1
pycryptodomex==3.18.0
pycups==2.0.1
pycurl==7.44.1
pydantic==1.10.15
pydantic_core==2.1.2
pydbus==0.6.0
pyflakes==3.2.0
pygal==3.0.0
pygame==2.1.2
pygccxml==2.2.1
PyGithub==1.55
Pygments==2.18.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pylev==1.2.0
pymacaroons==0.13.0
pymdstat==0.4.3
PyNaCl==1.5.0
pynvim==0.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt-Qwt==1.2.2
PyQt5==5.15.6
PyQt5-sip==12.12.2
pyqtgraph==0.12.4
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyright==1.1.362
pyrsistent==0.19.3
PySimpleSOAP==1.16.2
pySMART.smartx==0.3.10
pysmi==0.3.4
pysnmp==4.4.12
PySocks==1.7.1
pyte==0.8.0
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-daemon==3.0.1
python-dateutil==2.8.1
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
python-debianbts==3.2.0
python-engineio==4.9.0
python-gitlab==2.10.1
python-gnupg==0.4.8
python-Levenshtein==0.12.2
python-libdiscid==2.0.1
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
python-magic==0.4.24
python-mpv==0.5.2
python-nvd3==0.15.0
python-slugify==8.0.1
python-socketio==5.11.1
python-telegram-bot==20.4
python-tr==0.1.2
python-xlib==0.29
pythran==0.10.0
pytube==9.5.1
pytz==2022.1
pytzdata==2020.1
PyVirtualDisplay==3.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0.1
pyzmq==22.3.0
ranger-fm==1.9.3
rapidfuzz==3.6.1
redis==4.6.0
regex==2021.11.10
repolib==2.2.1
repoman==1.4.0
reportbug===11.4.1ubuntu1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rich==12.6.0
rich-argparse==1.2.0
rich-cli==1.8.0
rich-rst==1.3.1
roman==3.3
rsa==4.9
ruff==0.4.4
scandir==1.10.0
scipy==1.8.0
SCons==4.0.1
scour==0.38.2
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
semver==2.10.2
setproctitle==1.3.2
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
sos==4.7.2
soupsieve==2.4.1
sparklines==0.4.2
spotipy==2.23.0
SQLAlchemy==2.0.30
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
ssh-import-id==5.11
sublime-music==0.11.16
sympy==1.9
systemd-python==234
tables==3.7.0
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminaltables==3.1.10
text-unidecode==1.3
textual==0.1.18
thrift==0.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.9.2
tqdm==4.66.1
trash-cli==0.24.4.17
types-colorama==0.4.15.20240311
types-setuptools==57.4.18
typing-inspect==0.9.0
typing_extensions==4.11.0
ubuntu-dev-tools==0.201+ubuntu2.22.4.4
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.2
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.10.0
unicodecsv==0.14.1
unicodedata2==14.0.0
unidiff==0.5.5
UNKNOWN @ git+https://github.com/MIDORIBIN/langchain-gpt4free.git@651e8edb7c9fe71cf2075765ca45fa216503673a
upstream-ontologist==0.1.24
urllib3==2.2.1
urwid==2.1.2
userpath==1.9.2
virtualenv==20.26.5
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.6.2
Werkzeug==2.2.3
wifi==0.3.8
wrapt==1.13.3
wsproto==1.2.0
WTForms==3.0.1
xdg==5
xkit==0.0.0
xlwt==1.3.0
xmltodict==0.13.0
yarl==1.9.4
youtube-dl==2021.12.17
youtube-search==2.1.2
zeroconf==0.88.0
zipp==1.0.0
